body {
  width: 100%;
  color: #fff;
  background-color: #AD3335;
  -webkit-font-smoothing: antialiased;
  font-family:  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  padding: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 18px;
}

#section-header {
  background-image: url('../images/image_restaurant1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  font-family: 'Niconne', cursive;
}

.login {
  margin-top: 60px;
}

.login-btn {
  margin-bottom: 10px;
}

.sub-title {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 15px;
}

.content-list li {
  text-align: center;
  list-style-type: none;
  margin-bottom: 30px;
}

.image-list li {
  padding: 0;
  margin: 0;
}

.image-list img {
  width: 100%;
}

.login-area {
  text-align: center;
  margin-top: 20px;
}

.login-area li {
  margin-bottom: 10px;
}

.footer-bar {
  height: 30px;
  background-color: #333;
  text-align: center;
  padding: 5px 0;
}