body {
  width: 100%;
  color: #fff;
  background-color: #AD3335;
  -webkit-font-smoothing: antialiased;
  font-family:  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  padding: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 18px;
}

.btn {
  border-radius: 2px;
  border: none;
}

#section-header {
  background-image: url('../images/image_restaurant1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0 20px;
}

h1.logo {
  font-size: 56px;
  text-shadow: 0px 0px 20px rgb(157, 32, 38);
}
h2 span.logo {
  font-size: 30px;
  margin-bottom: 10px;
}
.logo {
  font-family: 'Niconne', cursive;
}

.login {
  /*margin-top: 60px;*/
  margin: 80px 0 20px;
}

.login-btn {
  margin-bottom: 10px;
}

.sub-title {
  margin-bottom: 10px;
}

.description {
  font-size: 12px;
  line-height: 16px;
  margin: 15px 0;
}

.content-list li {
  text-align: center;
  list-style-type: none;
  /*margin-bottom: 30px;*/
  margin: 24px 0 20px;
}

.image-list li {
  padding: 0;
  margin: 0;
}

.image-list img {
  width: 100%;
}

.login-area {
  text-align: center;
  margin-top: 20px;
}

.login-area li {
  margin-bottom: 10px;
}

.footer-bar {
  font-size: 12px;
  background-color: #333;
  text-align: center;
  padding: 20px 0;
}