body {
  width: 100%;
  color: #fff;
  background-color: #AD3335;
  -webkit-font-smoothing: antialiased;
  font-family:  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  padding: 10px 0;
}

h1 {
  font-size: 40px;
}

#section-title {
  font-family: 'Niconne', cursive;
}
#section-console {
  margin: 10px 0;
}

#input-searchword::-webkit-input-placeholder {
    color: #ffb3b3;
}
#input-searchword {
  width: 90%;
  margin-left: 4px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #fff;
  line-height: normal;
}
#input-searchword:focus {
  outline: 0;
}

#current-sort {
  padding: 0 4px 0 0;
  border-bottom: 1px solid #fff;
}

#select-sort, #confirm-message {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  overflow: hidden;
  display: none;
  z-index: 10000;
}
#select-sort .container {
  padding: 100px 0;
  width: 75%;
}
#select-sort li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  /*margin: 14px 0;*/
  padding: 10px 0;
  text-shadow: 0px 0px 10px #000;
}
#select-sort .closer,
#confirm-message {
  text-shadow: 0px 0px 20px #000;
}
#confirm-message .closer {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 40px;
}

#confirm-message .container {
  padding-top: 100px;
  width: 85%;
}
#confirm-message .confirm-label {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#confirm-message .confirm-form {
  text-align: center;
  margin-top: 20px;
}
#confirm-message .confirm-order {
  border: 1px solid #fff;
  margin: 30px 0;
  padding: 10px 8px;
}
#confirm-message .confirm-title {
  font-size: 22px;
}
#confirm-message .confirm-summary {
  font-size: 14px;
  line-height: 18px;
  margin: 8px 0 12px;
}
#confirm-message .confirm-meta {
  font-size: 12px;
  margin: 2px 0;
}

#orders {
  width: 100%;
}
.order {
  border: none;
  padding: 10px 0px 0;
  position: relative;
}
.order-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0;
  position: relative;
  box-shadow: 0px 0px 3px #000;
}
.order-wrapper .container {
  text-shadow: 0px 0px 1px #000;
}
.order-back {
  /*background-color: #891518;*/
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.order .container {
  position: relative;
  top: 0px;
  z-index: 100;
}
.order-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
.order-summary {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}
.order-map {
  padding-left: 0;
}
.order-meta {
  margin: 0;
  font-size: 10px;
  margin-top: 4px;
}
.order-meta:nth-child {
  margin-top: 0px;
}
.order-price {
  text-align: right;
  font-size: 18px;
}
.order-members {
  margin-top: 0px;
  text-align: right;
  font-size: 26px;
  font-weight: normal;
}
.order-members small {
  font-size: 14px;
}
.order-closer {
  display: none;
  position: absolute;
  font-size: 24px;
  top: -6px;
  right: 10px;
}
.order-buttons {
  display: none;
  text-align: center;
  margin: 14px 0;
}
.order-joined {
  display: none;
  font-weight: bold;
  color: rgb(74, 175, 70);
}
.order-payed {
  display: none;
  font-weight: bold;
  color: rgb(74, 175, 70);
}
.order-button-cancel {
  margin-left: 10px;
}
.order button {
  font-weight: bold;
}
.order-map {
  display: none;
  height: 140px;
  margin-top: 10px;
}
.order-map > img {
  width: 100%;
  height: 100%;
}
.order-link {
  display: none;
  margin-top: 10px;
}

#order-detail {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  background-color: #;
  z-index: 10000;
}
