body {
  color: #fff;
  background-color: #AD3335;
}

h1 {
  font-size: 30px;
}

#input-searchword::-webkit-input-placeholder {
    color: #ffb3b3;
}
#input-searchword {
  width: 90%;
  margin-left: 4px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #fff;
}
#input-searchword:focus {
  outline: 0;
}

#curent-sort {
  padding: 0 4px 0 0;
  border-bottom: 1px solid #fff;
}