<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Snobby</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/reset-css/reset.css' />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section id="section-title">
      <div class="container">
        <div class="header">
          <h1>Snobby</h1>
        </div>
      </div>
    </section>

    <section id="section-console">
      <div class="container">
        <!-- フリーワード  -->
        <div class="row">
          <div class="col-xs-12">
            <span class="glyphicon glyphicon-search"></span>
              <input type="text" id="input-searchword" name="" value="" placeholder="キーワードを入力して検索"/>
          </div>
        </div>

        <!-- リスト変更 -->
        <div style="margin:8px 0;">
          <div class="row">
            <div class="col-xs-12">
              <div id="gennre">
                Sorted by
                <span id="current-sort" data-type="hot">
                  <span class="glyphicon glyphicon-fire" style="margin-right:4px;"></span><b>Hot</b>
                  <span class="glyphicon glyphicon-menu-down"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-loader">
      <img src="images/loading.gif">
    </section>

    <!-- リスト -->
    <section>
      <ul class="list-unstyled" id="orders"></ul>
    </section>

    <!-- イベント詳細 -->
    <section>
      <div id="order-detail"></div>
    </div>

    <!-- ソート -->
    <div id="select-sort">
      <div class="container">
        <li class="sort-type" data-type="hot"><span class="glyphicon glyphicon-fire"></span> HOT</li>
        <li class="sort-type" data-type="new"><span class="glyphicon glyphicon-bullhorn"></span> New</li>
        <li class="sort-type" data-type="neary"><span class="glyphicon glyphicon-time"></span> もうすぐ</li>
        <li class="sort-type" data-type="around"><span class="glyphicon glyphicon-map-marker"></span> 周辺</li>
      </div>
      <div class="closer">×</div>
    </div>


    <!-- 確定しましたモーダル -->
    <div id="confirm-message">
      <div class="container">
        <p class="confirm-label confirm-hidden">イベントが確定しました</p>

        <div class="confirm-order confirm-hidden"></div>

        <form class="confirm-form confirm-hidden" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="62BLKNWEDC4LA">
          <input type="image" src="https://www.sandbox.paypal.com/ja_JP/JP/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - オンラインでより安全・簡単にお支払い">
          <img alt="" border="0" src="https://www.sandbox.paypal.com/ja_JP/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
      <div class="closer confirm-hidden">×</div>
    </div>

    <section id="section-footer">
      <div class="footer-bar">
        &copy; 2015 team make-it-back
      </div>
    </section>

    <script id="tmpl-order" type="text/x-jsrender">
      {{if event_title && quota > 0}}
      <li class="order" data-order-id="{{:id}}" style="display: none;">
        {{if images != "" }}
        <div class="order-wrapper" style="background-image: url('{{:images}}');">
        {{else}}
        <div class="order-wrapper" style="background-image: url('http://static1.squarespace.com/static/51ab58f4e4b0361e5f3ed294/51ab58f4e4b0361e5f3ed29a/51ab80bee4b0058e26cfcb1f/1370194240299/Benchmark_Restaurant_Dining_Room_Photographed_by_Evan_Sung.jpg');">
        {{/if}}
          <div class="order-back"></div>
          <div class="container">
            <div class="order-closer">×</div>
            <p class="order-title">{{:event_title}}</p>
            <div class="row">
              <div class="col-xs-12">
                <p class="order-summary">{{:event_summary}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <p class="order-meta"><span class="glyphicon glyphicon-time"></span> {{date:event_date}}</p>
                <p class="order-meta"><span class="glyphicon glyphicon-home"></span> {{:name}}</p>
                <p class="order-meta"><span class="glyphicon glyphicon-map-marker"></span> {{:address}}</p>
              </div>
              <div class="col-xs-4">
                <p class="order-meta order-price">¥{{number:price}}</p>
                <p class="order-meta order-members"><small>あと</small><span>{{:remained}}</span><small>人</small></p>
              </div>
            </div>

            <div class="order-buttons order-hidden">
              <div class="order-button-join">
                <button class="btn btn-sm btn-primary">Join!</button>
              </div>
              <div class="order-joined">
                <span class="glyphicon glyphicon-ok-circle"></span> Joined!
                <button class="btn btn-sm btn-danger order-button-cancel">Cancel</button>
              </div>
              <div class="order-payed">
                <span class="glyphicon glyphicon-ok-circle"></span> Payed!!
              </div>
            </div>

            <div class="order-map order-hidden">
              <img class="img-responsive" src="images/{{:id}}.png">
            </div>

           {{if shop_url}}
            <div class="order-link order-hidden">
              <div class="row">
                <div class="col-xs-12">
                  <button type="button" class="btn btn-default btn-block gnavi-link" data-href="{{:shop_url}}" style="font-weight: 300;">
                    <span class="glyphicon glyphicon-share"></span>ぐるなびで確認する
                  </button>
                </div>
              </div>
            </div>
            {{/if}}

          </div>
        </div>
      </li>
      {{/if}}
    </script>

    <script id="tmpl-confirm-order" type="text/x-jsrender">
      <p class="confirm-title">{{:event_title}}</p>
      <p class="confirm-summary">{{:event_summary}}</p>
      <p class="confirm-meta"><span class="glyphicon glyphicon-time"></span> <span class="confirm-date">{{date:event_date}}</p>
      <p class="confirm-meta"><span class="glyphicon glyphicon-home"></span> <span class="confirm-store">{{:name}}</p>
      <p class="confirm-meta"><span class="glyphicon glyphicon-map-marker"></span> <span class="confirm-address">{{:address}}</p>
      <p class="confirm-meta"><span class="glyphicon glyphicon-piggy-bank"></span> <span class="confirm-address">{{number:price}}円</p>
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/jsrender/jsrender.js"></script>
    <script src="/bower_components/jquery-csv/src/jquery.csv.js"></script>
    <script src="/bower_components/momentjs/moment.js"></script>
    <script src="/bower_components/geolib/dist/geolib.js"></script>
    <script src="/bower_components/jquery-cookie/jquery.cookie.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js(.) scripts/plugins.js -->
    <script src="/bower_components/bootstrap/js/affix.js"></script>
    <script src="/bower_components/bootstrap/js/alert.js"></script>
    <script src="/bower_components/bootstrap/js/dropdown.js"></script>
    <script src="/bower_components/bootstrap/js/tooltip.js"></script>
    <script src="/bower_components/bootstrap/js/modal.js"></script>
    <script src="/bower_components/bootstrap/js/transition.js"></script>
    <script src="/bower_components/bootstrap/js/button.js"></script>
    <script src="/bower_components/bootstrap/js/popover.js"></script>
    <script src="/bower_components/bootstrap/js/carousel.js"></script>
    <script src="/bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="/bower_components/bootstrap/js/collapse.js"></script>
    <script src="/bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/phoenix_socket.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
